<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HospitalManagementMasterEntities" connectionString="metadata=res://*/HospitalMasterEntities.csdl|res://*/HospitalMasterEntities.ssdl|res://*/HospitalMasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEEPAK-PC\SQLEXPRESS;initial catalog=HospitalManagementMaster;persist security info=True;user id=sa;password=deepak_12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HospitalManagementClientEntities" connectionString="metadata=res://*/HospitalClientEntities.csdl|res://*/HospitalClientEntities.ssdl|res://*/HospitalClientEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEEPAK-PC\SQLEXPRESS;initial catalog=HospitalManagementClient;persist security info=True;user id=sa;password=deepak_12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>